.blog {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
.blog__img {
  width: 770px;
  height: 475px;
  background-color: #9e9e9e;
  margin-bottom: 25px;
}

.author {
  font-family: "Glacial Indifference";
  color: #8799a3;
  line-height: 1.63;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
  font-size: 16px;
}

.author__name {
  letter-spacing: 0.4px;
}
.author__name span {
  color: #ee3364;
}

.author__date {
  font-size: 16px;
  margin-right: 10px;
}
.author__like i {
  margin-right: 10px;
  font-size: 18px;
  color: #ee3364;
}

.author__like span {
  font-family: cambay;
  line-height: 0;
  font-size: 16px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.title__text {
  display: inline-block;
  font-family: "Glacial Indifference";
  font-size: 30px;
  font-weight: bold;
  line-height: 1.17;
  color: #2e2e2e;
  width: 565px;
  word-spacing: 1px;
  letter-spacing: 0.2px;
}
.title__btn {
  width: 69px;
  height: 38px;
  background-color: #ee3364;
  position: relative;
  top: -21px;
  left: -46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "BwModelica";
  font-size: 13px;
  color: #fff;
}

.title__btn img {
  margin-right: 5px;
}

.blog__about {
  width: 776px;
}

.blog__about.mb {
  margin-bottom: 45px;
}

.blog__quote {
  font-family: "Glacial Indifference";
  font-size: 24px;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: 1.3px;
  color: #999;
  padding-left: 51.5px;
  border-left: 3px solid #ee3364;
  margin-bottom: 35px;
}

.blog__quote::first-letter {
  margin-left: 7px;
}
