.comments {
  margin-bottom: 170px;
}
.comments__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.comments__title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #222;
}
.comments__number {
  font-family: Muli;
  font-size: 14px;
  line-height: 2;
  color: #999;
}

.comment {
  display: flex;
  position: relative;
  padding: 26px 22px 22px 32px;
  gap: 30px;
  border-radius: 2px;
  border: solid 1px #ececec;
}

.comment.scott {
  margin-bottom: 20px;
}

.comment.reply {
  padding-left: 83px;
  background-color: rgba(105, 210, 231, 0.06);
}
.comment__avatar {
  flex: 0 0 79px;
  height: 79px;
  border-radius: 2.6px;
  background-color: #d2d2d2;
}

.comment.carl {
  padding-right: 5px;
}

.comment.carl .comment__avatar {
  flex: 0 0 76px;
  height: 73px;
}

.comment.carl .comment__title {
  margin-top: 15px;
  margin-bottom: 8px;
}

.comment.harold {
  padding: 25px 29px 33px 86px;
}

.comment.harold .comment__title {
  margin-top: 13px;
  margin-bottom: 11px;
}

.comment.harold .comment__avatar {
  flex: 0 0 75px;
  height: 73px;
}

.comment.harold .comment__about {
  margin-bottom: 20px;
}

.comment.johnson {
  padding: 24px 29px 30px 86px;
}

.comment.johnson .comment__avatar {
  flex: 0 0 75px;
  height: 73px;
}

.comment.johnson .comment__about {
  margin-bottom: 20px;
}

.comment.johnson .comment__title {
  margin-top: 15px;
  margin-bottom: 11px;
}

.comment.justin {
  padding-top: 29px;
}

.justin .comment__title {
  margin-top: 12px;
  margin-bottom: 11px;
}

.comment.justin .comment__avatar {
  flex: 0 0 60px;
  height: 60px;
}

.comment.tyler {
  padding-top: 27px;
}

.tyler .comment__title {
  margin-top: 20px;
  margin-bottom: 11px;
}

.tyler .comment__about {
  margin-bottom: 17px;
}

.comment.tyler .comment__avatar {
  flex: 0 0 60px;
  height: 60px;
}

.comment__title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 4px;
  margin-bottom: 18px;
}

.comment__name {
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0.6px;
  color: #2f2933;
}
.comment__date {
  font-family: "Open Sans";
  font-size: 16px;
  color: #ccc;
}
.comment__about {
  font-family: Muli;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #666;
  margin-bottom: 30px;
}

.comment__buttons {
  display: flex;
  gap: 20px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #999;
  text-transform: capitalize;
  align-items: center;
}

.comment__buttons i {
  transition: 0.3s;
  cursor: pointer;
}

.comment__buttons i:hover {
  color: #ee3364;
}

.comment__reply {
  transition: 0.3s;
  cursor: pointer;
}

.comment__share {
  transition: 0.3s;
  cursor: pointer;
}

.comment__stars {
  transition: 0.3s;
  cursor: pointer;
}

.comment__reply:hover {
  color: #ee3364;
}

.comment__share:hover {
  color: #ee3364;
}

.comment__stars:hover {
  color: #ee3364;
}

.comment__reply::after {
  content: "/";
  padding-left: 15px;
}

.comment__share::after {
  content: "/";
  padding-left: 15px;
}

.comment__buttons div i {
  font-size: 18px;
  margin-right: 20px;
}

.fa-angle-down {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 18px;
  cursor: pointer;
}
.fa-ellipsis {
  position: absolute;
  bottom: 8px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}
