.main__form {
  margin-bottom: 76px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 2.35;
  letter-spacing: 1.9px;
  color: #1b1b1b;
  text-transform: uppercase;
  flex: 0 0 100%;
  margin-bottom: 17px;
}

.form input {
  border-radius: 2px;
  border: solid 1px #ececec;
  background-color: rgba(255, 255, 255, 0.06);
  padding-left: 28px;
}

.form input:focus {
  border: solid 1px #ee3364;
}

.form input::placeholder {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.2;
  color: #666;
}
.textarea {
  flex: 0 0 100%;
  height: 213px;
  position: relative;
}
.textarea::placeholder {
  position: absolute;
  top: 17px;
  left: 28px;
}

.form__name {
  flex: 0 0 395px;
  height: 50px;
}
.form__mail {
  flex: 0 0 395px;
  height: 50px;
}
.form__web {
  flex: 0 0 100%;
  height: 50px;
}

.form__submit {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__submit .submit {
  width: 230px;
  height: 50px;
  background-color: #ee3364;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.14px;
  color: #fff;
  text-transform: uppercase;
  gap: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.form__submit .submit:hover {
  background-color: #c51c49;
  border-radius: 5px;
}

.form__submit .submit span {
  font-weight: 400;
  font-size: 16px;
}

.form__submit .checkbox {
  width: 24px;
  height: 24px;
  background-color: #ee3364;
  margin-right: 18px;
  vertical-align: middle;
}

.form__submit label {
  font-family: Muli;
  font-size: 14px;
  line-height: 1.2;
  color: #666;
}

.form__checkbox {
  display: flex;
  align-items: center;
  gap: 45px;
  height: 60px;
}

.container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgba(26, 38, 64, 0.06);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid #666666;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
