@font-face {
  font-family: 'bwModelica';
  src: url('../fonts/BwModelica-Regular.woff2');
}

@font-face {
  font-family: 'bwModelicaB';
  src: url('../fonts/BwModelica-Bold.woff2');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Glacial Indifference';
}

._container {
  max-width: 1160px;
  margin: 0 auto;
}

.page {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
.main {
  flex: 1 1 800px;
}

.sidebar {
  flex: 1 1 360px;
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.about {
  font-family: Muli;
  font-size: 17px;
  line-height: 1.76;
  color: #666;
}

.sidebar__item {
  box-shadow: 0px 12px 8px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #f1f1f1;
  padding: 37px 8px 40px 40px;
}

.sub-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.42;
  color: #252525;
  padding-bottom: 21px;
  width: 90%;
  border-bottom: 1px solid #8799a3;
}
