._container {
  max-width: 1160px;
  margin: 0 auto;
}

.page {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
.main {
  flex: 0 0 800px;
}

.sidebar {
  flex: 0 0 360px;
  background-color: aqua;
}

.about {
  font-family: Muli;
  font-size: 17px;
  line-height: 1.76;
  color: #666;
}
